body
{
    background-image:url('person-on-a-bridge-near-a-lake-747964.jpg');
  background-size: cover;
  }


input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formfooter{
    text-align: right;
}
#patientform{
    
    padding: 15px 15px 15px 15px;
}
label.validation-error{
    color:   red;
    margin-left: 5px;
}
.hide{
    display:none;
}
.form{
    border: 1px solid black;
    width:50%;
    margin-left: 25%;
    margin-top: 25px;
    background-color:rgba(0,0,0,.6);
    align-content: center;
    color:white;
}
input[type=text], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background:rgba(0,0,0,.1);
    color: white;
}

.heading{
    text-align: center;
}
@media(max-width: 500px)
{
    .form{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.dmt{
    width:30%;
}
.daymonthtime{
    display: inline-flex;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    font-size: 250%;
    color: black;
